<?xml version="1.0" encoding="UTF-8"?>
    <Configuration status="INFO">
        <Appenders>
            <Console name="stdout" target="SYSTEM_OUT">
                <PatternLayout>
                    <pattern>{"priority":"%p","timestamp":"%d{UNIX}", "logger":"%c",message":"%enc{%m}","exception":"%enc{%throwable{5}}"}%n</pattern>
                </PatternLayout>
            </Console>
            <Socket name="socket" host="localhost" port="9500">
                <SSL>
                    <KeyStore location="/opt/Netbeans/TRESOR/balana/.ssh/keystore/4/client.jks" password="tresor"/>
                    <TrustStore location="/opt/Netbeans/TRESOR/balana/.ssh/keystore/3/server2.jks" password="tresor"/>
                </SSL>
                <PatternLayout>
                    <pattern>{"priority":"%p","timestamp":"%d{UNIX}", "logger":"%c","message":"%enc{%m}","exception":"%enc{%throwable{5}}","thread":"%t"}%n</pattern>
                </PatternLayout>
            </Socket>
            <Async name="async">
                <AppenderRef ref="socket" />
            </Async>
        </Appenders>
        <Loggers>
            <Root level="INFO">
                <AppenderRef ref="stdout" />
                <AppenderRef ref="async" />
                <AppenderRef ref="socket" />
            </Root>
        </Loggers>
    </Configuration>