<?xml version="1.0" encoding="UTF-8"?>
    <Configuration status="INFO">
        <Appenders>
            <Console name="stdout" target="SYSTEM_OUT">
                <PatternLayout charset="UTF-8" alwaysWriteExceptions="false">
                    <pattern>{"priority":"%p","timestamp":"%d{UNIX_MILLIS}", "logger":"%c","message":"%enc{%m}%enc{%rEx{short}}","tresor-component":"%enc{%X{tresor-component}}","category":"%enc{%X{category}}","client-id":"%enc{%X{client-id}}","subject-id":"%enc{%X{subject-id}}","thread":"%t"}%n</pattern>
                </PatternLayout>
            </Console>
            <Socket name="socket" host="xacml.snet.tu-berlin.de" port="9400">
                <PatternLayout charset="UTF-8" alwaysWriteExceptions="false">
                    <pattern>{"priority":"%p","timestamp":"%d{UNIX_MILLIS}", "logger":"%c","message":"%enc{%m}%enc{%rEx{short}}","tresor-component":"%enc{%X{tresor-component}}","category":"%enc{%X{category}}","client-id":"%enc{%X{client-id}}","subject-id":"%enc{%X{subject-id}}","thread":"%t"}%n</pattern>
                </PatternLayout>
            </Socket>
            <Async name="async">
                <AppenderRef ref="socket" />
                <AppenderRef ref="stdout" />
            </Async>
        </Appenders>
        <Loggers>
            <Root level="INFO">
                <AppenderRef ref="async" />
            </Root>
        </Loggers>
    </Configuration>